@import "tailwindcss";

header {
  background: linear-gradient(
    180deg,
    rgba(10, 42, 154, 1) 1%,
    rgba(22, 152, 186, 1) 100%
  ) !important;
  color: #ffffff !important;
}
.social-icons .social-icon:hover,
.social-icons .social-icon:focus {
  color: #fff;
  text-decoration: none;
  opacity: 0.85;
}
.social-icon.social-facebook {
  background-color: #3b5a9a;
}
.social-icon.social-twitter {
  background-color: #1aa9e1;
}
.social-icon.social-instagram {
  background-color: #7c4a3a;
}
.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #fff;
  background-color: #08c;
  font-size: 14px;
  line-height: 3.2rem;
  text-align: center;
  text-decoration: none;
  opacity: 1;
}
header .social-icon:not(:hover):not(:active):not(:focus) {
  background-color: transparent;
}
.minicart-icon {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 20px;
  border: 2px solid #222529;
  border-radius: 0 0 5px 5px;
  position: relative;
  opacity: 0.9;
  margin: 6px 3px 0;
  z-index: 1;
}
.minicart-icon::before {
  content: "";
  position: absolute;
  border: 2px solid;
  border-color: inherit;
  border-bottom: none;
  border-radius: 10px 10px 0 0;
  left: 50%;
  top: -8px;
  margin-left: -7px;
  width: 15px;
  height: 11px;
}
